# Installer files used for setup
LLVM-installer.exe
VulkanSDK-installer.exe
rustup-init.exe
vs_buildtools.exe
vulkan_test.zip
bun-install.ps1
install_vulkan.ps1

# Build artifacts
target/
dist/
node_modules/

# Log files from debugging builds
cmake_build*.log
